.data_privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2em 1em 1em 1em;
}

.data_privacy > .data_privacy_header {
    font-size: large;
    text-align: justify;
    line-height: 1.3em;
    width: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 2em;
}

button.accept {
    background-color: #EF7B00;
    border: none;
    margin-top: 20px;
    padding: 10px 21px;
    font-size: 15px;
    color: white;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
    margin-top: 10%;
}
